/**
* 主题方案
* 1.蓝色版
* 2.白色版
*/

_white = {}

_blue = {
  name: "_blue", // 蓝色版
  main-color: #1e2341, // 主色调
  main-bg-color: #181d3a, // 主题背景色
  minor-color: #222948, // 次主题色
  modal-bg-color: #2f3658f7, // 弹框背景色
  font-active-color: #5586ff, // 高亮字体色
  font-main-color: #ddd, // 字体默认颜色
  font-minor-color: #9da9cb, // 次级字体颜色
  font-white-color: #fff, // 白色
  font-black-opacity-color: #0009, // 淡黑色透明色
  scroll-bar-bg-color: #4d5473, // 滚动条滑块背景色
}

themeList = (_blue _white);